<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lr">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".options2"
            android:exported="true" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA-5hsZgS1f_vEsqxyT65OiDOvF3EVVQX0" />

        <activity
            android:name=".Thank_you"
            android:exported="true" />
        <activity
            android:name=".appointment"
            android:exported="true" />
        <activity
            android:name=".feedback"
            android:exported="true" />
        <activity
            android:name=".options_page"
            android:exported="true" />
        <activity
            android:name=".FullScreenActivity"
            android:exported="false" />
        <activity
            android:name=".galllery"
            android:exported="true" />
        <activity
            android:name=".camera"
            android:exported="true" />
        <activity
            android:name=".Photos"
            android:exported="false" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".welcomepage" />
        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:exported="true"
            />
    </application>

</manifest>